In [37]:
import pandas as pd
import acquire
import prepare
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

1. What is your baseline prediction?
- What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode).
-  When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [53]:
df = acquire.get_titanic_data()
df.head(1)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.25,S,Third,NaN,Southampton,0

In [54]:
df.drop(columns=['deck'], inplace=True)

In [55]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

In [60]:
train, validate, test = prepare.train_val_test(df, 'survived')

In [64]:
train.survived.value_counts()

survived
0    384
1    239
Name: count, dtype: int64

In [65]:
train.survived.head()

748    0
45     0
28     1
633    0
403    0
Name: survived, dtype: int64

In [67]:
baseline_accuracy = (train.survived == 0).mean()
baseline_accuracy

0.6163723916532905

2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)