In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from scipy import stats
import acquire
import prepare

# Part 1

Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

1. Acquire, prepare & split your data.

In [2]:
iris = acquire.get_iris_data()
iris.head()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2

In [5]:
iris = prepare.prep_iris(iris)

In [6]:
iris.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

In [7]:
train_iris, validate_iris, test_iris = prepare.train_val_test(iris, 'species')

In [8]:
print(f'Train: {train_iris.shape}')
print(f'Validaate: {validate_iris.shape}')
print(f'Test:{test_iris.shape}')

Train: (105, 5)
Validaate: (22, 5)
Test:(23, 5)

In [9]:
train_iris.head()

        species  sepal_length  sepal_width  petal_length  petal_width
98   versicolor           5.1          2.5           3.0          1.1
68   versicolor           6.2          2.2           4.5          1.5
19       setosa           5.1          3.8           1.5          0.3
143   virginica           6.8          3.2           5.9          2.3
99   versicolor           5.7          2.8           4.1          1.3

In [11]:
train_iris.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105 entries, 98 to 3
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species       105 non-null    object
 1   sepal_length  105 non-null    float64
 2   sepal_width   105 non-null    float64
 3   petal_length  105 non-null    float64
 4   petal_width   105 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.9+ KB

2. Univariate Stats
- For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

In [13]:
train_iris.describe().T

              count      mean       std  min  25%  50%  75%  max
sepal_length  105.0  5.873333  0.862941  4.3  5.1  5.8  6.4  7.9
sepal_width   105.0  3.055238  0.457203  2.0  2.8  3.0  3.3  4.4
petal_length  105.0  3.784762  1.784052  1.1  1.6  4.2  5.1  6.9
petal_width   105.0  1.205714  0.777549  0.1  0.3  1.3  1.9  2.5

In [15]:
#for categorical variables
col_cat = []
# for numeric variables
col_num = []

for col in train_iris.columns:
    print(col)

    if train_iris[col].dtype == '0':
        col_cat.append(col)
    else:
        if len(train_iris[col].unique()) < 4: #making anything less then 4 unique variable to categorical)
            col_cat.append(col)
        else:
            col_num.append(col)

species
sepal_length
sepal_width
petal_length
petal_width

In [16]:
col_cat

['species']

In [17]:
col_num

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']